<div class="container nav__container">
  <a href="/" class="nav__logo">
    <img src="/img/logo.png" alt="Navbar Logo" />
  </a>

  <ul class="nav__menu">
    <li>
      <a href="/profile/:userID">Jeff Kim</a>
    </li>
    <li>
      <a href="/notes">Notes List</a>
    </li>
    <li>
      <a href="/create">Create a Note</a>
    </li>
    <li>
      <a href="/logout">Logout</a>
    </li>
  </ul>

  <button class="nav__toggle-btn" id="navToggle">
    <i class="fa-solid fa-bars-staggered"></i>
  </button>
</div>
