<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/img/logo-white.png" />
    <title>JK Notes</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <script
      src="https://kit.fontawesome.com/your-fontawesome-kit.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://kit.fontawesome.com/f5bef262d1.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!-- NAVBAR PARTIALS -->

    <nav><%- include ("../partials/header.ejs", {user: locals.user}) %></nav>

    <!-- BODY CONTENTS -->
    <%- body %>

    <script src="/js/script.js"></script>
  </body>

  <!-- FOOTER PARTIALS -->
  <footer><%- include ("../partials/footer.ejs") %></footer>
</html>
