<section class="create-note">
  <div class="container">
    <h2>Edit Note</h2>

    <form
      action="/notes/<%= note._id %>/edit"
      method="POST"
      class="form edit-note__form"
    >
      <input
        type="text"
        placeholder="Title"
        name="title"
        value="<%= note.title %>"
        required
      />
      <textarea name="content" placeholder="Type your note" rows="15" required>
<%= note.content %></textarea
      >

      <button type="submit" class="btn primary">Update note</button>
    </form>
  </div>
</section>
