<section>
  <div class="center container error__container">
    <div>
      <h1>Oops! Something went wrong</h1>
      <h2>Let's take you back to home page</h2>
      <a href="/" class="btn primary sm">Go Home</a>
    </div>
  </div>
</section>
