<section>
  <div class="container index__container">
    <h1>Welcome <%= user.name %>!</h1>
    <h2>You are successfully logged in</h2>

    <p>Let's start typing. <br />It is free and uses local storage.</p>

    <div class="note__btns">
      <a href="/notes" class="btn primary">View notes</a>
      <a href="/create" class="btn primary">Create note</a>
    </div>
  </div>
</section>
