<section>
  <div class="container index__container">
    <h1>Welcome to JK Notes</h1>

    <p>
      This is the best place to write down your notes. <br />It is free and uses
      local storage. <br />It may be simple but does the job.
    </p>

    <a href="/login" class="btn primary">Get Started</a>
  </div>
</section>
