<section class="profile">
  <div class="container profile__container">
    <div class="profile__details">
      <h1><%= user.name %></h1>

      <form
        action="/profile/<%= user._id %>/"
        method="POST"
        class="profile__form form"
      >
        <p class="form__error-message"></p>
        <input
          type="text"
          placeholder="Full Name"
          name="name"
          value="<%= user.name %>"
        />
        <input
          type="email"
          placeholder="Email"
          name="email"
          value="<%= user.email %>"
        />
        <input
          type="password"
          placeholder="Current Password"
          name="currentPassword"
          required
        />
        <input
          type="password"
          placeholder="New Password"
          name="newPassword"
          required
        />
        <input
          type="password"
          placeholder="Confirm New Password"
          name="confirmNewPassword"
          required
        />
        <button type="submit" class="btn primary">Update profile</button>
      </form>
    </div>
  </div>
</section>
