<section class="profile">
  <div class="container profile__container">
    <href a="/notes" class="btn"> My notes </href>
    <div class="profile__details">
      <!-- <div class="avatar__wrapper"> -->
      <!-- <div class="profile__avatar">
          <img src="/img/avatar.png" alt="" />
        </div> -->
      <!-- EDIT AVATAR -->
      <!-- <form class="avatar__form">
          <input type="file" name="avatar" id="avatar" />
          <label htmlFor="avatar">
            <FaRegEdit />
          </label>
        </form> -->
      <!-- <button class="profile__avatar-btn">
          <FaCheck />
        </button>
      </div> -->

      <h1>Jeff Kim</h1>

      <form class="form profile__form">
        <p class="form__error-message">This is an error message</p>
        <input type="text" placeholder="Full Name" value="name" />
        <input type="email" placeholder="Email" value="email" />
        <input
          type="password"
          placeholder="Current
        Password"
          value="currentPassword"
        />
        <input type="password" placeholder="New Password" value="newPassword" />
        <input
          type="password"
          placeholder="Confirm New Password"
          value="confirmNewPassword"
        />
        <button type="submit" class="btn primary">Update details</button>
      </form>
    </div>
  </div>
</section>
