@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  --primary-color: #1a1a1a;
  --primary-color-2: #1a1a1ae3;
  --accent-color: #dfa46d;
  /* --bg-color: #f8f5f0; */
  --bg-color: #f8f7f2;
  --bg-color-2: rgba(242, 240, 235, 1);
  --bg-color-3: #eee;
  --white-color: #fff;
  --red-color: rgba(255, 0, 0, 0.9);
  --red-color2: #ff3333;

  --transition: all 300ms ease;

  --container-width: 84%;
  --container-width-md: 92%;
  --form-width: 50%;

  --radius-03: 0.3rem;
  --radius-06: 0.6rem;
  --radius-1: 1rem;
  --radius-2: 2rem;
}

/* GENERAL CSS */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--bg-color);
  font-size: 0.9rem;
  line-height: 1.6;
  color: var(--primary-color);
}

textarea {
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  line-height: 1.6;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--primary-color);
  line-height: 1.1;
}

h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 1.9rem;
}

h3 {
  font-size: 1.3rem;
  line-height: 1.25;
}

h4 {
  font-size: 1.1rem;
}

h5 {
  line-height: 1.4;
}

img {
  display: block;
  object-fit: cover;
  width: 100%;
}

section {
  margin-top: 6rem;
}

.container {
  width: var(--container-width);
  margin-inline: auto;
}

.btn {
  display: inline-block;
  width: fit-content;
  padding: 0.5rem 1rem;
  border-radius: var(--radius-06);
  background: var(--bg-color);
  cursor: pointer;
  transition: var(--transition);
}

.btn.primary {
  background: var(--primary-color);
  color: var(--bg-color);
}

.btn.sm {
  font-size: 0.8rem;
  padding: 0.3rem 0.7rem;
  font-weight: 400;
}

.btn.danger {
  background: var(--red-color);
  color: var(--bg-color);
}

.btn:hover {
  background: var(--accent-color);
  color: var(--bg-color);
}

.center {
  text-align: center;
  padding-top: 5rem;
  margin-inline: auto;
  display: block;
  width: 100%;
}

/* NAVBAR */

nav {
  width: 100vw;
  height: 5rem;
  display: grid;
  place-items: center;
  background-color: var(--bg-color-2);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  border-bottom: 4px sold var(--bg-color-3);
  backdrop-filter: blur(20px);
}

.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav__logo {
  width: 5rem;
  display: block;
}

.nav__menu {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.nav__toggle-btn {
  display: none;
}

.nav__open {
  font-size: 1.6rem;
  cursor: pointer;
}

.nav__close {
  display: none;
}

/* FOOTER */
footer {
  background: var(--primary-color-2);
  margin-top: 6rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.footer__copyright {
  text-align: center;
  color: var(--white-color);
}

/* HOME */

.index__container {
  display: grid;
  place-items: center;
  height: calc(100vh - 12rem);
}

.index__container h1 {
  padding-top: 4rem;
}

.index__container p {
  font-size: 1.1rem;
  text-align: center;
}

.index__container a {
  margin-bottom: 4rem;
}

/* NOTES */
.notes__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
}

.note {
  background: var(--white-color);
  padding: 1rem;
  border-radius: var(--radius-2);
  padding-bottom: 2rem;
  transition: var(--transition);
  cursor: default;
}

.note:hover {
  box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.1);
}

.note__thumbnail {
  border-radius: var(--radius-1);
  overflow: hidden;
  height: 16rem;
}

.note__content {
  margin-top: 1.5rem;
}

.note__content h3 {
  margin: 1rem 0 0.6rem;
}

.note__footer-date {
  font-size: 0.7rem;
  text-align: right;
  margin-top: 1rem;
}

/* SINGLE NOTE */
.note-detail {
  width: var(--form-width);
  background: var(--white-color);
  margin-inline: auto;
  padding: 2rem 0;
}

.note-detail h1 {
  margin-bottom: 1.5rem;
  overflow: hidden;
}

.note-detail__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.note-detail_buttons {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.note-detail .note-detail__date {
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.note-detail .note-detail__content {
  margin-bottom: 0.6rem;
}

.note-detail__alert {
  display: none;
  justify-content: center;
  align-items: center;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.3);
}

.note-detail__alert aside {
  width: 35%;
  text-align: center;
  background-color: var(--white-color);
  padding: 20px;
  border-radius: var(--radius-1);
}

.note-detail button {
  padding: 0.5rem 1rem;
}

/* EDIT NOTE */
.edit-note__form {
  margin-top: 0.6rem;
}

/* REGISTER */
.form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

input,
textarea {
  width: 100%;
  padding: 0.6rem 1rem;
  border-radius: var(--radius-03);
  resize: none;
}

.form__error-message {
  background: var(--red-color2);
  color: var(--white-color);
  font-size: 0.8rem;
  padding: 0.6rem;
  border-radius: var(--radius-03);
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: none;
}

/* CREATE NOTE */

.create-note__form {
  margin-top: 0.6rem;
}

.register,
.login,
.create-note {
  width: var(--form-width);
  margin-inline: auto;
  height: calc(100vh - 12rem);
  display: grid;
  place-items: center;
}

.create-note input {
  font-size: 1rem;
}

.register h2,
.login h2,
.create h2 {
  margin-bottom: 2rem;
}

.register small,
.login small {
  display: block;
  margin-top: 1.5rem;
}

.register small a,
.login small a {
  color: var(--primary-color);
}

/* PROFILE */
.profile__container {
  display: grid;
  place-items: center;
  text-align: center;
}

.profile__details {
  width: 100%;
}

.profile__details h1 {
  margin-top: 1.5rem;
}

.form.profile__form {
  margin-top: 3rem;
  margin-inline: auto;
  width: var(--form-width);
}

/* Error Page */
.error__container {
  display: grid;
  place-items: center;
  text-align: center;
  height: calc(100vh - 12rem);
}

.error__container h1 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

.error__container h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

/* MEDIA QUERIES */
@media screen and (max-width: 768px) {
  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.4rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  .container {
    width: var(--container-width-md);
  }

  /* NAVBAR MEDIA */
  .nav__container {
    position: relative;
  }

  .nav__menu {
    display: none;
    position: absolute;
    top: 5rem;
    right: 0;
    flex-direction: column;
    gap: 0;
  }

  .nav__menu.active {
    display: flex;
  }

  .nav__menu li {
    width: 100%;
    box-shadow: -2rem 4rem 4rem rgba(0, 0, 0, 0.25);
    animation: dropDown 400ms ease forwards;
    opacity: 0;
    transform: rotateX(90deg);
    transform-origin: top;
  }

  @keyframes dropDown {
    to {
      opacity: 1;
      transform: rotateX(0);
    }
  }

  .nav__menu li:nth-child(2) {
    animation-delay: 200ms;
  }

  .nav__menu li:nth-child(3) {
    animation-delay: 400ms;
  }

  .nav__menu li:nth-child(4) {
    animation-delay: 600ms;
  }

  .nav__menu li a {
    display: block;
    background: var(--white-color);
    padding: 0.85rem 2.5rem;
  }

  .nav__toggle-btn {
    display: inline-block;
    background: transparent;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .notes__container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .footer__categories {
    flex-direction: column;
  }

  .note-detail {
    width: 100%;
    background: transparent;
    padding: 0;
  }

  .note-detail__alert aside {
    width: 80%;
  }

  .notes__container {
    overflow: scroll;
  }

  .register,
  .login,
  .create-note {
    width: 80%;
  }

  .form.profile__form {
    margin-top: 2.5rem;
    width: 80%;
  }

  .error__container h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  .error__container h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }
}
